body {
  margin: 0;
  padding: 0;
  background-size: cover;
  font-family: sans-serif;
  background-color: #202124;
}

.box {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  padding: 2.5rem;
  box-sizing: border-box;
  border: 1px solid #dadce0;
  -webkit-border-radius: 8px;
  border-radius: 8px;

}

.box h2 {
  margin: 0px 0 -0.125rem;
  padding: 0;
  color: #fff;
  text-align: center;
  color: #ffffff;
  font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.box .head {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .1px;
  line-height: 1.5;
  margin-bottom: 25px;
  text-align: center;
}

.box .inputBox {
  position: relative;
}

.box .inputBox input {
  color: #ffffff;
  width: 93%;
  padding: 0.625rem 10px;
  font-size: 1rem;
  letter-spacing: 0.062rem;
  margin-bottom: 1.875rem;
  border: 1px solid #ccc;
  background: transparent;
  border-radius: 4px;
  
}

.box .inputBox .labels {
  position: absolute;
  top: 0;
  left: 10px;
  padding: 0.625rem 0;
  font-size: 1rem;
  color: grey;
  pointer-events: none;
  transition: 0.5s;
}

.box .inputBox input:focus ~ .labels,
.box .inputBox input:valid ~ .labels,
.box .inputBox input:not([value=""]) ~ .labels {
  top: -1.125rem;
  left: 10px;
  color: #ffffff;
  font-size: 0.75rem;
  background-color: #202124; /*color of jumping label*/
  height: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.box .inputBox input:focus {
  outline: none;
  border: 2px solid #ffffff;
}
.box input[type="submit"] {
    
  border: 1px solid #dadce0;
  outline: none;
  color: rgb(255, 255, 255);
  background-color: #ffffff2f;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-radius: 0.312rem;
  font-size: 1rem;
  width: 100%;
}

.box input[type="submit"]:hover {
  background-color: #ffffffA5;
  color: #202124;
  
  box-shadow: 0 1px 1px 0 #FFFFFF45, 0 1px 3px 1px #FFFFFF45;
}

p {
  text-align: center;
}

@media screen and (max-width: 480px) {
  .box {
  width: 100%;
  }
  p {
    font-size: 13px;
  }
}